#home {
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #36669F;
  text-align: center;
  margin: 0;
  padding: 1rem 2rem;
  color: white;
  min-height: 20vh;
}

.header .title {
  padding-top: 1rem;
}

.main {
  margin: 2rem;
  min-height: 62vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.btn-generate-container {
  min-width: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.btn-group {
  margin: auto;
}

.preview, .input, .label, .output{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 5vh;
}

.preview-container, .input-container, .label-container, .output-container{
  border: 1px grey solid;
  height: 20rem;
  width: 15rem;
  /* margin: auto; */
  display: flex;
  align-items: center;
}

.preview-loaded img {
  margin-top: 10px;
  max-height: 17rem;
  max-width: 90%;
}

.input-container img, .output-container img, .label-container img {
  max-height: 18rem;
  max-width: 90%;
  min-width: 80%;
  margin: auto;
}

.result-container {
  padding-top: 2rem;
  max-height: 18rem;
  max-width: 90%;
  min-width: 80%;
  margin: auto;
}

.preview-container input {
  text-align: center;
  width: 70%;
  margin: auto;
}

.btn-generate {
  margin: 1rem auto;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  background-color: #36669F;
  border-radius: 0.5rem;
  color: white;
}

.btn-generate:disabled {
  background-color: rgb(40, 79, 128);
  color: rgb(158, 158, 158);
}

.btn-generate:hover:enabled {
  background-color: rgb(71, 132, 207);
}

.footer {
  text-align: center;
  padding: 0.5rem;
  background: #36669F;
  color: white;
  height: 5vh;
}

h2 {
  font-weight: 900;
}

h3, p {
  font-weight: 100;
}

@media (max-width: 1000px) {
  .main {
    margin: 2rem;
    min-height: calc(100vh - 40vh);
    display: grid;
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: none;
  }
}